<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styleExtra.css">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
    <link rel="stylesheet" href="../static/style.css">



</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand">Where To Find Me</a>
            <div  id="navbarNavDropdown" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
               <!--     <li class="nav-item">
                        <a data-target="#myModalReports" data-toggle="modal" class="dropdown-item nav-link" id="reportsList" href="#myModalReports">Reports</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Create Report
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a data-target="#myModalSource" data-toggle="modal" class="dropdown-item nav-link" id="sourceReport" href="#myModalSource">Water Source Report</a>
                            <a data-target="#myModalPurity" data-toggle="modal" class="dropdown-item nav-link" id="purityReport" href="#myModalPurity">Water Purity Report</a>
                            <a data-target="#myModalHistory" data-toggle="modal" class="dropdown-item nav-link" id="historicalReport" href="#myModalHistory">Water Historical Report</a>
                        </div>
                    </li> -->
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" id="descrp">Logged in as: {{ username }}</a>
                    </li>
                    <li class="nav-item">
                        <a data-target="#myModalEditProfile" data-toggle="modal" class="dropdown-item nav-link" id="editProfile" href="#myModalEditProfile">Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="logOut" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    <div class="modal" id="myModalEditProfile">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Profile</h4>
                    <button class="close" data-dismiss="modal">&times</button>
                </div>
                <div class="modal-body">
                            <div class="form-group">
                                <label for="lat3">Github</label>
                                <input type="text" class="form-control" id="github" value="{{ profile['github'] }}"/>
                            </div>
                            <div class="form-group">
                                <label for="lat3">Facebook</label>
                                <input type="text" class="form-control" id="facebook" value="{{ profile['facebook'] }}"/>
                            </div>
                            <div class="form-group">
                                <label for="lat3">Linkedin</label>
                                <input type="text" class="form-control" id="linkedin" value="{{ profile['linkedin'] }}"/>
                            </div>
                            <div class="form-group">
                                <label for="lat3">Twitter</label>
                                <input type="text" class="form-control" id="twitter" value="{{ profile['twitter'] }}"/>
                            </div>
                            <div class="form-group">
                                <label for="lat3">Personal site</label>
                                <input type="text" class="form-control" id="personal_site" value="{{ profile['personal_site'] }}"/>
                            </div>
                            <input type="submit" id="editProfileSubmit" class="btn btn-default" data-dismiss="modal" value="Save Changes"/>
                </div>
            </div>
        </div>
    </div>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script>
$('#editProfileSubmit').click(function () {
    var dict = {};
    if ($('#facebook').val() !== "{{ profile['facebook'] }}" ) {
        dict['facebook'] = $('#facebook').val();
    }
    if ($('#github').val() !== "{{ profile['github'] }}" ) {
        dict['github'] = $('#github').val();
    }
    if ($('#linkedin').val() !== "{{ profile['linkedin'] }}" ) {
        dict['linkedin'] = $('#linkedin').val();
    }
    if ($('#twitter').val() !== "{{ profile['twitter'] }}" ) {
        dict['twitter'] = $('#twitter').val();
    }
    if ($('#personal_site').val() !== "{{ profile['personal_site'] }}" ) {
        dict['personal_site'] = $('#personal_site').val();
    }
     var xhr = new XMLHttpRequest();
    xhr.open("POST", "/profile", true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    console.log(dict);
    xhr.send(JSON.stringify(dict));
})
</script>

</body>
</html>