<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Where To Find Me</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styleExtra.css">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
<!--This is the Menu code-->
<!-- <div id="menu">
    <nav class="navbar navbar-toggleable-md navbar-default bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">Where To Find Me</a>
    </nav>
</div> -->
<!--This is the Login/Register code-->
<div class="login-wrap">
    <div class="login-html">
        <label for="tab-main" class="tab2">Where to find me</label><br><br>
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <form>
            <div class="sign-in-htm">
                <div class="group">
                    <label for="emailAddress" id="emailLabel" class="label">Username</label>
                    <input id="emailAddress" type="text" class="input">
                </div>
                <div class="group">
                    <label for="password" class="label">Password</label>
                    <input id="password" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <input id="check" type="checkbox" class="check" checked>
                    <label for="check"><span class="icon"></span> Keep me Signed in</label>
                </div>
                <div class="group" id="login">
                    <input type="submit" class="button" value="Sign In">
                </div>
            </div>
            </form>
            <form>
            <div class="sign-up-htm">
                <div class="group">
                    <label for="emailAddress2" id="emailLabel2" class="label">Username</label>
                    <input id="emailAddress2" type="text" class="input">
                </div>
                <div class="group">
                    <label for="password2" id="passRegister" class="label">Password</label>
                    <input id="password2" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <label for="password3" class="label" id="retypePass">Repeat Password</label>
                    <input id="password3" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <label for="email" class="label" id="retypePass">Email</label>
                    <input id="email" type="email" class="input">
                </div>
                <div class="group">
                    <label for="fullName" class="label" id="retypePass">Full Name</label>
                    <input id="fullName" type="text" class="input">
                </div>
                <div class="group">
                    <label for="phone" class="label" id="retypePass">Phone Number</label>
                    <input id="phone" type="text" class="input">
                </div>

                <div class="group" id="register">
                    <input type="submit" class="button" value="Sign Up">
                </div>
                <div class="foot-lnk">
                    <label for="tab-1">Already Member?</label>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="static/index.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
